

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 95%;
  background-color: #fff  ;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

button {
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}






























h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.h1_forside {
  text-align: center;
}

a {
  text-decoration: none;
  
}

h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #458554;
}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}
h6 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*************** Footer ****************/
body {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #e2f5d4;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-section {
  padding: 20px;
}

.footer-section h2 {
  margin-top: 0;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 70px;
}

.footer-section p {
  line-height: 1.6;
  color: black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-left: 70px;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: black;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer_fotos {
  display: inline-block;
  margin-right: 10px;
}

.footer_fotos a img {
  width: 32px;
  height: 32px;
}
@media (max-width: 700px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer_fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: -200px;
  }

  .footer-section {
    padding: 20px;
  }

  .footer-bottom {
    border-top: none;
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: auto;
  }
  .footer-section h2 {
    margin-top: 0;
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
  }
  .hero_video {
    width: auto;
    object-fit: cover;
  }
  .lottie_hero .lottiesucky {
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 16/9;
  }
  .button-link {
    padding: 2% 2%;
    color: #e2f5d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #458554;
    text-decoration: none;
    width: 150px; /* Fast bredde */
    height: 30px; /* Fast højde */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Skjuler overskydende tekst */
    padding: 10px; /* Giver lidt afstand til kanterne */
  }
}
.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 10px;
  padding: 10px;
  justify-items: center; /* Horizontal centering of grid items */
  align-items: center;
}

.lottie_hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.lottie_hero video {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.book_mode {
  display: grid;
  position: relative;
  top: -170px; /* Ensure it starts at the top of its container */
  left: 49%; /* Ensure it starts at the left of its container */
  width: 300px; /* Set desired width */
  height: 150px; /* Ensure it covers the full height */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
/******youtube********/
.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
}
@media screen and (min-width: 700px) {
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    padding: 5px;
  }
  .hero_video {
    height: 500px;
    width: auto;
    object-fit: cover;
  }
  .lottie_hero .lottiesucky {
    grid-column: 1;
    grid-row: 1;
    padding-left: 8%;
    padding-top: 50px;
    scale: 2.2;
  }
  .checkbox {
    text-align: prettier;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    padding: 5px;

    object-fit: cover;
  }
  .book_mode {
    display: grid;
    position: absolute;
    top: 330px; /* Ensure it starts at the top of its container */
    left: 67%; /* Ensure it starts at the left of its container */
    width: 300px; /* Set desired width */
    height: 150px; /* Ensure it covers the full height */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 10; /* Set a higher z-index to ensure it is on top */
  }
  .button-link {
    padding: 2% 2%;
    color: #e2f5d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #458554;
    text-decoration: none;
    width: 350px; /* Fast bredde */
    height: 30px; /* Fast højde */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Skjuler overskydende tekst */
    padding: 10px; /* Giver lidt afstand til kanterne */
  }
}

.button-link:hover {
  background-color: #e2f5d4;
  color: #458554;
}
.button-text {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.grid_1-2 {
  display: grid;
  grid-template-rows: 1fr;
}
.wrapper1 {
  position: relative; /* Ensure the wrapper is the reference for the absolute positioning */
  background-color: #e2f5d4;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 92%; /* Stopper kassen lidt før kanterne af hjemmesiden */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tilføjer en let skygge for dybde */
}

.flower {
  position: absolute; /* Position the image absolutely within the wrapper */
  top: 0; /* Adjust this value to position the image vertically as needed */
  left: 66%; /* Adjust this value to position the image horizontally as needed */
  z-index: 10; /* Ensure the image has a higher z-index than the text */
  width: 30%; /* Set the desired width */
  height: 99%; /* Maintain aspect ratio */
}

.forside_tekst,
.forside_tekst2 {
  position: relative; /* Ensure the text containers are positioned relatively */
  z-index: 1; /* Ensure text has a lower z-index than the image */
}

h4 {
  font-family: "Kanit", sans-serif;
  color: white;
  background-color: #5eb973;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  max-width: 50%;
  font-size: 1.56rem;
  text-align: center;
  text-decoration: none;
}
html {
  --primary: #ffff;
}

h4 {
  /* = Primary/Brand Color */
  color: var(--primary);
}
